@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;

  --primary-colour: #d02464;
  --secondary-colour: #8732fc;
  /* #8732FC */
}
